NEXT_PUBLIC_SUPABASE_URL=https://odpcgeiaikdvpoydcfyu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_anon_key_aqui
DIGISAC_DOMAIN=https://monvatti.digisac.me
DIGISAC_TOKEN=seu_novo_token_digisac
DIGISAC_SERVICE_ID=8098c414-76fb-428b-a87f-a932435b60da
